/* Inspired by Stephan Raabe */

/* Import Pywal Colors */

@import '../../../../.cache/wal/colors-waybar.css';
@define-color backgrounddark @color11;
@define-color backgroundlight @color5;
@define-color bordercolor @color1;
@define-color iconcolor #FFFFFF;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #000000;
@define-color textcolor3 @color3;
@define-color textcolor4 @color7;
@define-color textcolor5 @color13;
@define-color workspacesbackground1 @color5;
@define-color workspacesbackground2 @color11;

@define-color alertcolor #820000;
@define-color goodcolor #005200;
@define-color warningcolor #d2b55b;

/* General Settings */

* {
    font-family: "AR Techni", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    opacity: 0.92
}

window#waybar {
    animation: gradient_left_to_right 8s ease infinite;
    /* background-color: alpha(darker(darker(@color1)), .6); */
    background: linear-gradient(25deg, darker(darker(@textcolor4)) 0%, darker(darker(darker(@textcolor5))) 100%);
    border: 2px solid @bordercolor;
    border-radius: 22px;
    opacity: 0.97;
    transition-duration: 0.5s;
    transition-property: background-color
}

window#waybar.empty #window {
    opacity: 0
}

/* Workspaces */

#workspaces {
    color: @textcolor1;
    background: darker(@workspacesbackground1);
    border: 2px solid lighter(@bordercolor);
    border-radius: 22px;
    font-weight: bold;
    margin: 3px 7px 3px 7px;
    padding: 0px 7px 0px 7px
}

#workspaces button {
    background-color: @workspacesbackground2;
    border-radius: 22px;
    color: #000000;
    margin: 2px 2px 2px 2px;
    min-width: 24px;
    padding: 3px 7px 3px 7px;
    transition: all 0.3s ease-in-out
}

#workspaces button.active {
    animation: pulse 2s ease infinite;
    background: @workspacesbackground2;
    border-radius: 20px;
    color: @textcolor1;
    min-width: 32px;
    opacity: 1.0;
    text-shadow:
        0 0 10px #fff,
        0 0 14px #fff,
        0 0 18px #fff,
        0 0 22px #0fa,
        0 0 26px #0fa,
        0 0 30px #0fa;
    transition: all 0.3s ease-in-out
}

#workspaces button.empty {
    background: darker(@workspacesbackground2)
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 22px;
    color: @textcolor1;
    text-shadow:
        0 0 10px #fff,
        0 0 14px #fff,
        0 0 18px #fff,
        0 0 22px #0fa,
        0 0 26px #0fa,
        0 0 30px #0fa
}

#workspaces button.urgent {
    animation: blink 2s ease infinite alternate;
    background: #f53c3c;
}

/* Modules */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0
}

/* Active Window Title */

#window {
    animation: gradient_left_to_right 4s ease infinite;
    background: linear-gradient(-45deg, darker(@backgrounddark) 0%, darker(@backgroundlight) 50%, darker(darker(@backgrounddark)) 100%);
    background-size: 200% 200%;
    border: 3px solid lighter(@bordercolor);
    border-radius: 20px 10px 20px 10px;
    color: @textcolor1;
    font-size: 1.1rem;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px
}

window#waybar.empty #window {
    background-color: transparent
}

/* Application Menu */

#custom-appmenu,
#custom-appmenuwlr {
    animation: gradient_left_to_right 4s linear infinite;
    background: linear-gradient(-45deg, darker(@backgrounddark) 0%, @backgroundlight 50%, darker(@backgrounddark) 100%);
    background-size: 200% 200%;
    border: 5px solid lighter(@bordercolor);
    border-radius: 1.0rem;
    color: @textcolor1;
    margin: 0px 15px 0px 0px;
    padding: 0px 10px 0px 10px
}

/* Application Tray Icons */

#tray {
    color: @textcolor1;
    -gtk-icon-transform: scale( 0.5 );
    padding: 0px 0px 0px 10px
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight
}

#tray > .passive {
    -gtk-icon-effect: dim
}

/* Battery Status */

#battery {
    background-color: @backgroundlight;
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    margin: 7px 15px 7px 0px;
    padding: 0px 15px 0px 15px
}

#battery:not(.charging) {
    animation: blink 2s linear infinite alternate;
    background-color: @alertcolor
}

#battery.charging,
#battery.full,
#battery.plugged {
    animation: blink 4s linear infinite alternate;
    background-color: @goodcolor
}

#battery.critical {
    animation: blink 0.5s linear infinite alternate;
    background-color: @alertcolor
}

#battery.critical:not(.charging) {
    animation: blink 0.5s linear infinite alternate;
    background-color: @alertcolor
}

/* Bluetooth Status */

#bluetooth,
#bluetooth.connected,
#bluetooth.off,
#bluetooth.on {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    margin: 5px 15px 5px 0px;
    padding: 0px 15px 0px 10px
}

/* Brightness Control */

#custom-brightness {
    color: @iconcolor;
    font-weight: bold;
    margin: 2px 20px 0px 0px
}

/* Cava Audio Visualizer */

#cava,
#custom-cava {
    color: @color2;
    font-size: 1.4rem;
    margin: 0px 0px 0px 0px;
    min-width: 365px;
    opacity: 0.5;
    padding: 0px 30px 0px 30px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #0fa
        /* 0 0 21px #0fa, */
        /* 0 0 42px #0fa, */
        /* 0 0 82px #0fa, */
        /* 0 0 92px #0fa */
}

#custom-cava2 {
    /* color: @workspacecolor2; */
    color: @textcolor1;
    font-size: 0.5rem;
    padding: 35px 0px 10px 0px
}

/* Clock and Calendar */

#clock {
    animation: gradient_right_to_left 4s ease infinite;
    background: linear-gradient(225deg, darker(@backgrounddark) 0%, @backgroundlight 50%, darker(@backgrounddark) 100%);
    background-size: 200% 200%;
    border: 4px solid lighter(@bordercolor);
    border-radius: 24px;
    color: @textcolor1;
    margin: 0px 0px 0px 15px;
    padding: 0px 10px 0px 10px
}

/* Hyprland Modules */

#custom-exit {
    color: @iconcolor;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px 15px 0px 10px;
    padding: 0px 10px 0px 10px
}

#custom-exit:hover {
    background: @backgroundlight
}

/* Hostname Label */

#custom-hostname {
    color: lighter(@workspacesbackground2);
    font-size: 1.1em;
    margin: 10px 0px 30px 0px;
    padding: 15px 0px 0px 2px    
}

/* Hotspot Status */

#custom-hotspot {
    color: @iconcolor;
    font-size: 1.0em;
    margin: 0px 25px 0px 0px
}

#custom-hypr {
    color: @iconcolor;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2px 10px 2px 10px;
    padding: 0px 15px 0px 10px
}

#custom-hypr:hover {
    background: @backgroundlight
}

#custom-reload,
#custom-settings,
#custom-system,
#custom-wallpaper,
#custom-waybarthemes {
color: @iconcolor;
    margin: 0px 20px 0px 15px;
    padding: 0px
}

/* Idle Inhibator */

#idle_inhibitor {
    color: @iconcolor;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    padding: 0px 15px 0px 10px
}

#idle_inhibitor.activated {
    color: #dc2f2f;
}

#idle_inhibitor:hover {
    background: @backgroundlight
}

/* Keyboard Language Layout */
 
#language {
    color: @textcolor1;
    margin: 7px 7px 0px 0px;
    padding: 0px 0px 10px 0px
}

/* Keyboard State (CAPSLOCK/NUMLOCK) */

#keyboard-state {
    color: @iconcolor;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 0px
}

/* Mpris Information */

#mpris {
    /* animation: gradient-left-to-right 6s ease infinite; */
    animation: gradient_right_to_left 4s ease infinite;
    background: linear-gradient(135deg, darker(darker(@backgrounddark)) 0%, darker(@backgroundlight) 50%, darker(@backgrounddark) 100%);
    background-size: 200% 200%;
    border: 3px solid lighter(@bordercolor);
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    font-size: 0.9rem;
    margin: 0px 15px 0px 0px;
    padding: 2px 10px 0px 10px
}

/* Network Status */

#network {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    margin: 5px 5px 5px 0px;
    padding: 0px 10px 0px 10px
}

#network.critical {
    animation: blink 0.5s linear infinite alternate;
    background-color: #f53c3c
}

#network.good {
    background-color: darker(@backgroundlight)
}

#network.warning {
    animation: blink 4s linear infinite alternate;
    background-color: #e7bc40
}

/* Notification Replay */

#custom-notification {
    color: @iconcolor;
    font-weight: bold;
    margin: 3px 5px 0px 13px;
    padding: 0px 15px 0px 10px
}

#custom-notification:hover {
    background: @backgroundlight
}

/* Crytpcurrency and stock tracker */

#custom-stocks {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0px 15px 0px 0px;
    padding: 4px 15px 0px 15px
}

/* Pulseaudio and Jack Status */

#jack,
#pulseaudio {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    margin: 0px 15px 0px 0px;
    padding: 0px 20px 0px 15px
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor1
}

/* Sytem Hardware Group */

#cpu,
#custom-gpuinfo,
#custom-gputemp,
#memory,
#temperature {
    animation: rotateBorder 8s infinite;
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    color: @textcolor1;
    font-size: 0.9rem;
    margin: 0px 10px 0px 0px;
    padding: 0px 7px 0px 7px
}

#memory {
    border-radius: 20px 20px 20px 20px;
    margin: 3px 10px 3px 5px
}

#custom-fanspeed {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 20px 10px 20px 10px;
    color: @textcolor1;
    font-size: 0.9rem;
    margin: 7px 10px 7px 7px;
    padding: 0px 15px 0px 15px
}

#custom-gputemp.warning,
#cpu.warning,
#memory.warning,
#temperature.warning {
    animation: blink 2s linear infinite alternate;
    background-color: @warningcolor;
    margin: 3px 7px 3px 0px
}

#custom-gputemp.critical,
#cpu.critical,
#memory.critical,
#temperature.critical {
    animation: blink 0.5s linear infinite alternate;
    background-color: @alertcolor;
    margin: 3px 7px 3px 0px
}

#custom-gpuinfo,
#cpu {
    border-radius: 999em 20px 20px 999em;
    margin: 3px 0px 3px 7px
}

#custom-gputemp,
#temperature {
    border-radius: 20px 999em 999em 20px;
    margin: 3px 7px 3px 0px
}

/* Privacy icon notifcation */

#privacy {
    color: @warningcolor;
    font-size: 1.5rem;
    -gtk-icon-transform: scale( 1.5 );
    margin: 7px 15px 7px 15px;
    padding: 2px 0px 0px 15px
}

/* System Load Monitor */

#load,
#custom-ping#zwc {
    background: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    font-size: 0.9rem;
    margin: 7px 15px 7px 15px;
    padding: 2px 15px 0px 15px
}

/* System Uptime */

#user {
    animation: gradient_left_to_right 4s ease infinite;
    background: linear-gradient(-45deg, darker(@backgrounddark) 0%, @backgroundlight 50%, darker(@backgrounddark) 100%);
    background-size: 200% 200%;
    border: 4px solid lighter(@bordercolor);
    border-radius: 24px;
    color: @textcolor1;
    margin: 3px 15px 2px 0px;
    padding: 0px 15px 0px 15px
}

/* journald display */

#custom-syslog {
    background-color: darker(darker(@backgroundlight));
    border: 2px solid @bordercolor;
    border-radius: 22px;
    color: @textcolor1;
    font-size: 1.1rem;
    padding: 15px 0px 15px 0px
}

/* Systemd Unit Failure Alert */

#systemd-failed-units {
    background-color: @alertcolor;
    border-radius: 20px 10px 20px 10px;
    color: @textcolor1;
    font-size: 0.9rem;
    margin: 7px 10px 7px 7px;
    padding: 0px 15px 0px 10px
}

#systemd-failed-units.degraded {
    background-color: @warningcolor
}

#systemd-failed-units.ok {
    background-color: @goodcolor
}

/* Timer */

#custom-timer {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 20px 10px 20px 10px;
    color: @textcolor1;
    font-size: 1.00rem;
    margin: 0px 10px 0px 0px;
    padding: 0px 15px 0px 15px
}

#custom-timer.active {
    background-color: #f53c3c;
}

#custom-polycat {
    background-color: transparent;
    color: @textcolor1;
    margin: 0px 25px 0px 10px
}

/* Tooltips */

tooltip {
    animation: fadeIn 0.75s;
    /* border: 2px outset #000; */
    background-color: darker(darker(@backgroundlight));
    border-radius: 20px 20px 20px 20px;
    padding: 5px
}

tooltip label {
    color: @textcolor1;
}

/* Updates Available Counter */

#custom-arch_news,
#custom-mail,
#custom-updates,
#custom-updates#zwc {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 20px 10px 20px 10px;
    color: @textcolor1;
    margin: 0px 15px 0px 0px;
    padding: 0px 12px 0px 12px
}

#custom-updates.green {
    background-color: darker(@backgroundlight)
}

#custom-updates.yellow {
    background-color: #ff9a3c
}

#custom-updates.red {
    background-color: #dc2f2f
}

/* Weather */

#custom-weather {
    background-color: darker(@backgroundlight);
    border: 2px solid @bordercolor;
    border-radius: 10px 20px 10px 20px;
    color: @textcolor1;
    margin: 0px 10px 0px 0px;
    padding: 0px 15px 0px 10px
}

/* CSS Animation Defintions */

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor1;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
}

@keyframes glowText {
    from {
        text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
    }
    to {
        text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    }
}

@keyframes gradient_left_to_right {
    0% {
        background-position: 200% 200%
    }
    100% {
        background-position: 0% 200%
    }
}

@keyframes gradient_right_to_left {
    0% {
        background-position: 0% 200%
    }
    100% {
        background-position: 200% 200%
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes gradientAnimationReverse {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 8px 4px @textcolor1; /* Initial shadow with color red */
    }
    to {
        box-shadow: 0 0 12px 6px @textcolor1; /* Increased shadow size and intensity */
    }
    from {
        box-shadow: 0 0 12px 6px @textcolor1;
    }
    to {
        box-shadow: 0 0 8px 4px @textcolor1;
    }
}

@keyframes rotateBackground {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 0% 50%
    }
    100% {
        background-position: 50% 0%
    }
}

@keyframes rotateBorder {
    0% {
        border: 4px double @workspacesbackground2
    }
    25% {
        border: 4px double @workspacesbackground2
    }
    50% {
        border: 4px double lighter(@bordercolor)
    }
    75% {
        border: 4px double lighter(@bordercolor)
    }
    100% {
        border: 4px double @workspacesbackground2
    }
}
